/*  import  font Inter */
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);

/* global css */
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
/* smooth scrol for page */
html{scroll-behavior:smooth}


/* variables for colors */
:root{
    --blue:#081828;
    --white:#fff;
    --black:#111;
    --gray:#888;
    --pink:#ff6b81;
}
/* global property for body  */
body{
 font-family:"Inter",sans-serif;
 font-weight:normal;
 font-style:normal;
 color: var(--gray);
 overflow-x:hidden;font-size:15px}
a{color: var(--white);
    text-decoration: none;
}
 p{font-size:15px;line-height:24px}

/* header */
header{
    background-color: var(--pink);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--white);
    z-index: 1;
}

.logo img{
    margin-left: 4px;
width: 160px;
max-width: 100%;
}

.container{
    width: 1320px;
    margin: auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    
}

header section{
    margin: 28px 1px;
}

 header section nav{
width: 25%;
}
nav .nav-links{
    margin-top: 9px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 5px;
    
}
.nav-link{

  text-transform: capitalize;
  font-weight: 600;
  margin: 0 20px;

}
/* btn nav menu  */
.btn-nav a {
    display: block;
    border: 2px solid var(--white);
    padding:14px 30px;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 20px;
    margin-top: -6.5px;
    transition: 0.3s;
    overflow: hidden;
    font-size: 15px;
    
}
/* hover btn nav menu */
.btn-nav a:hover{
    background-color: var(--white);
    color: var(--pink);
}
/* end header */

/* main */

/* section banner */
.flex-banner{
    display: flex;
    justify-content: space-between;
}

.banner{
    background-color: var(--pink);
    color: var(--white);
    padding: 130px 120px;
}

.left-side-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;
}

.left-side-banner h1{
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 800;
    line-height: 50px;
}

.left-side-banner p{
    margin-top: 30px;
    font-size: 15px;
}

.apps-phone{
    margin: 50px 0;
}
.apps-phone button{
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 5px;
    outline: none;
   cursor: pointer;
   transition: 0.3s;
}
.apps-phone button i {
    font-size: 20px;
    margin-right: 5px;
}



.iphone-btn{
    color: var(--pink); 
    border:2px solid var(--white);
}
.android-btn{
    margin-left: 15px;
    display: block;
    color: var(--white) ; 
    background-color: transparent;   
    border: 2px solid var(--white);

}

.android-btn:hover{
    background-color: var(--white);
    color: #ff6b81;
}
.iphone-btn:hover{
    background-color: #111;
    color: var(--white);
    border-color:#111 ;
}
.right-side-banner img{
    display: block;
 width: 100%;
 margin: 32px 130px 0 0 ;
}

/*  end section banner */


/* section features */
#features{
    background-color: #f9f9f9;
    
}

.section-title{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 100px 0;

}

.section-title span{
    text-transform: uppercase;
    color: var(--pink);
    display: block;
    
    font-weight: 600;
}

.section-title h2 {
    max-width: 700px;
    margin: 17px auto;
    font-size: 35px;
    color: var(--blue);
    margin: 20px auto;
    font-weight: 800;
    line-height: 40px;
}

.section-title p{
    max-width: 700px;
    margin: auto;
    line-height: 25px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-feature{
    display: flex;
    flex-direction: column;
    flex-basis:31%;
    margin: 30px 0;
    background-color: var(--white);
    padding:  35px;
    border-radius: 6px;
    border: 1px solid #eee;
    transition: 0.3s;
}

.single-feature:hover{
    box-shadow: 0px 3px 5px #00000017;
    transform: translateY(-5px);
}


.single-feature i{
    padding: 20px;
    font-size: 20px;
    color: var(--white);
    background-color: var(--pink);
    border-radius: 5px;
}


.single-feature h3{
    color:  var(--blue);
    margin: 20px 0;
    font-weight: 500;
}

.single-feature p{
    max-width: 350px;
}

/* end section features */


/* customer-app */
#custommer-app {
    padding: 150px 0;
}
#custommer-app .review{
  display: flex;
  justify-content: space-between;
}
.info-text {
    display:  flex;
    flex-direction: column;
    margin-top: 50px;
}

.info-text i {    padding: 20px;
    font-size: 20px;
    color: var(--white);
    background-color: var(--pink);
    border-radius: 5px;
}

.info-text h4{
    color: var(--blue);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    max-width: 500px;
    line-height: 42px;
    margin: 30px 0;
    
}


.info-text button{
    font-family:"Inter",sans-serif;
    text-transform:capitalize ;
    margin-top: 25px;
    width: 150px;
    padding: 15px 18px;
    border-radius: 6px;
    background-color: var(--pink);
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.info-text button:hover
{
 background-color: #111;
}
.info-text p {
    line-height: 2;
    max-width: 650px;
}

.info-image img{
    width: 85%;
    float: right;
}

.review:last-child{
    margin-top: 150px;
}


.count{
    margin: 120px 0;
    text-align: center;
    background: var(--pink);
    padding: 100px 0;
    color: var(--white);
}

.info h2{
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
}
.info p {
    font-size: 15px;
    line-height: 24px;
}

.counter-elements{
    
    width: 70%;
    margin: 50px auto;
    display:  flex;
    justify-content: space-around;
}

.count-element  h5{
    font-size: 35px;
    font-weight: 800;
    display: block;
    margin-bottom: 5px;
    color: #fff;
}